.contact-area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15vh;
}

.text-section{
    max-width: 50vh;
}
.contact-title{
    font-size: 5vh;
    color: #47ac5d;
    font-weight: bold;
}