:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --CorTitulos:rgba(71, 172, 93, 1);
  --CorCaixasDeTexto:rgba(80, 194, 153, 1);
  --CorCaixaDeTextoClara:rgba(125, 205, 154, 1);

}
 
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}